
/*
    DECLARAR A CLASSE BOX-PAI COM DISPLAY FLEX
*/
.box-pai{
    display: flex;
    /*FLEX-DIRECTIONS*/ 
    flex-direction:row;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */

}
/*
DECLARAR A CLASSE BOX-PAI COM DISPLAY FLEX
*/

.box{
width: 10%;
min-width: 200px;
height: 200px;
margin: 20px;
padding: 10px;
text-align: center;
color: #ffffff;
} 

.box-child-1{
  background-color: blueviolet;
}

.box-child-2{
background-color: chartreuse;
}

.box-child-3{
background-color: chocolate;
}

.box-child-4{
background-color: crimson;
}

